* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(./images/map_edited.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
}

.container1 {
    padding: 20px 100px 0 100px;
    font-weight: bold;
    text-align: center;
    margin-top: 3.5rem;
}